:root {
    --cor-primaria: #002f6c;
    --cor-secundaria: red;
    --cor-texto: white;
}

body {
    font-family: Arial, sans-serif;
    background: var(--cor-primaria);
    color: var(--cor-texto);
    text-align: center;
}

header {
    background: var(--cor-secundaria);
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    background: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.dark-mode {
    --cor-primaria: #333;
    --cor-secundaria: #444;
    --cor-texto: #ddd;
}
